.fa-bilibili {
  background-image: url(/images/bilibili.svg);
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  height: 1rem;
}

.fa-cloudmusic {
  background-image: url(/images/cloudmusic.svg);
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  height: 1rem;
}
